body {
	font-family: 'Quicksand', sans-serif;
}



a.navbar-brand {
/*	font-family: 'Montserrat', sans-serif;
	font-wiegt: bold;*/
	/*font-size: 30px;*/
	background-color:white;
	float: left;
	margin-top:0;
	margin-bottom: 0;
	vertical-align: middle;
	padding-top:0;
	padding-bottom:0;
}
div#navbar{
	text-align: center;
	display: inline;
	background-color: white;
	max-height: 50px;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	font-size: 10px;

}

#navbar-collapse-1 {
	background-color: gray;
	color:white;
	max-height:50px;
}

.icon-bar {
	color: red;
	border: red;
	background-color: red;
}

ul#nav-menu {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

ul#nav-menu>li a {
	text-decoration: none;
	color: white;
}

ul#nav-menu>li a:hover, ul#nav-menu>li a:focus {
	background-color: darkgray;
}

/*.navbar.navbar-fixed-top {
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 10px;
	border: none;
	background-color: gray;
	texg-align: center;

}

.nav.nav-center {
	display: inline;
	left: 0;
	right: 0;
	margin: 0;
	float none;
	background-color: gray;
}

.navbar-toggle.collapsed {
	background-color: darkgray;
	text-align: center;
}



div#navbar {
	width: 100%;
	margin-right: 0;
	margin-left:0;
	padding-right: 0;
	padding-left: 0;
}






.menu-list:first-child {
	background-color: gray;
	/*margin-left: 0;*/
}
ul.nav.navbar-nav > li > a {
	text-decoration: none;
	color: white;
}
#nav-right {
	float:right;
	margin-left: 15px;
}
#nav-right a{
	text-decoration: none;
	color: white;
	float: right;
	background-color: red;

}



#search-li {
	float:right;
	margin-right: 10px;
}

#search-img {
	background-color: gray;
	height: 25px;
	width: 25px;
	border: none;

}

.searchbox{
    position:relative;
    min-width:50px;
    width:0%;
    height:50px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:50px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:20px;
    color:red;
}
.searchbox-input::-webkit-input-placeholder {
    color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
    color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
    color: #d74b4b;
}

.searchbox-icon,
.searchbox-submit{
    width:50px;
    height:50px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:22px;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:50px;
    text-align:center;
    cursor:pointer;
    color:#dcddd8;
    background:gray;
}



.searchbox-open{
    width:100%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}
#home-top {
	margin: 10px 20px 10px 20px;
}

img#nathan-quote {
	margin: 0;
	display: inline;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
  	background-color: transparent;
}

.quote-it {
	text-align: center;
	/*float: left;*/
  	/*margin-left: -75px;*/
	max-width: 100%;
  	position: relative;
	display: inline;
	vertical-align: middle;
}

/*#span1 {
	padding-left: 2em;
}
#span2 {
	padding-left: 3em;
}
#span3 {
	padding-left: 4em;
}
*/







/*Media queries*/

/*@media (max-width: 1070px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/


@media (max-width: 1065px) {
	p {
		font-size: 12px;
		margin-left: 5%;
	}
	div.navbar-header {
		background-color: white;
		
	}

	#navbar-collapse-1 {
		max-height: 100%;
	}

	.searchbox-submit {
		float: right;
		display: inline-block;

	}
	#nav-right {
		float: none;
		text-align: center;
		display: inline-block;
	}

	.searchbox-input {
		width: 80%;
	}
}


@media (max-width: 930px) {
	h3 {
		font-size: 14px;
		font-weight: 700;
	}
	p {
		max-width: 60%;
		/*font-size: 10px;*/
		margin 0;
	}
	
	#navbar-collapse-1 {
		max-height: 100%;
	}
	
	.searchbox-submit {
		float: right;
		display: inline-block;

	}
	#nav-right {
		float: none;
		text-align: center;
		display: inline-block;
	}

	.searchbox-input {
		width: 80%;
	}
}
